server:
  port: 8087

spring:
  application:
    name: order-service

  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/taopiaopiao?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true
    username: root
    password: 7566
    druid:
      initial-size: 5
      min-idle: 5
      max-active: 20
      max-wait: 60000

  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
        username: nacos
        password: nacos

mybatis-plus:
  mapper-locations: classpath*:mapper/**/*Mapper.xml
  type-aliases-package: com.duanyan.taopiaopiao.orderservice.domain.entity
  configuration:
    map-underscore-to-camel-case: true
  global-config:
    db-config:
      id-type: auto

knife4j:
  enable: true
  setting:
    language: zh_cn
  production: false

logging:
  level:
    root: INFO
    com.duanyan.taopiaopiao: DEBUG
