<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duanyan.taopiaopiao.eventservice.application.mapper.TicketTierMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.duanyan.taopiaopiao.eventservice.domain.entity.TicketTier">
        <id column="id" property="id" />
        <result column="event_id" property="eventId" />
        <result column="name" property="name" />
        <result column="price" property="price" />
        <result column="color" property="color" />
        <result column="description" property="description" />
        <result column="sort_order" property="sortOrder" />
        <result column="max_purchase" property="maxPurchase" />
        <result column="is_active" property="isActive" />
        <result column="metadata" property="metadata" />
        <result column="created_at" property="createdAt" />
    </resultMap>
</mapper>
